@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Comfortaa;
    src: url('./fonts/Comfortaa.ttf');
}
body {
    font-family: Comfortaa;
    background-color: #f4f4f4;
}